<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Collection Management</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">
    <link rel="stylesheet" href="/css/my-style.css">

    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">
    <link rel="stylesheet" type="text/css" href="/css/collection.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/darkmode.css">
    <script src="/dark-mode-switch.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body>

<!-- Page Loader -->
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:text="#{app.name}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1" aria-current="page" href="/" th:text="#{app.collections}"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-2 " href="/collection/collections" th:text="#{collections}"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="/item/all" th:text="#{items}"></a>
                </li>

                <li class="option__select">
                    <select class="select__lang" id="locales">
                        <option value="" th:text="#{lang.change}"></option>
                        <option value="en" th:text="#{lang.eng}"></option>
                        <option value="uz" th:text="#{lang.uz}"></option>
                    </select>
                </li>

                <div class="form-check form-switch ml-5 mt-1">
                    <input type="checkbox" class="form-check-input" id="darkSwitch">
                </div>

                <li class="nav-item mr-2" th:if="${currentUser==null}">
                    <a class="nav-link nav-link-2" href="/login" th:text="#{app.login}"></a>
                </li>

                <li class="position-relative mt-1 mr-2" th:unless="${currentUser==null}">
                    <div class="dropdown">
                        <button class="dropbtn profile" th:text="${currentUser.getFirstName().charAt(0)}"></button>
                        <div class="dropdown-content bg-light">
                            <a class="color-white"
                               data-bs-toggle="modal"
                               th:attr="data-bs-target='#myProfile'+${currentUser.getId()}"
                               th:text="#{my-profile}"
                            ></a>
                            <a class="color-white" href="/admin/users"
                               th:if="${ currentUser.getRole().getRoleEnum().name()=='ADMIN'}"
                               th:text="#{dashboard.dashboard}"></a>
                            <a class="color-white" href="/collection" th:text="#{collection.add}"></a>
                            <a class="color-white" href="/collection/my-collections" th:text="#{collections.my}"></a>
                            <a class="color-white" href="/logout" th:text="#{app.logout}"></a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="modal fade" th:if="${currentUser!=null}" th:id="'myProfile'+${currentUser.getId()}"
                 tabindex="-1"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                    <div class="modal-content p-3 p-md-5">
                        <div class="modal-body">
                            <div class="d-flex justify-content-between mb-4">
                                <h3 class="edit-title" th:text="#{my-profile}"></h3>
                                <button type="button" class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close">
                                </button>
                            </div>
                            <form id="userForm" class="row g-3" method="post"
                                  th:action="@{/profile}">
                                <div class="row">
                                    <input hidden name="id" th:value="${currentUser.getId()}">
                                    <div class="col-12 ">
                                        <label class="form-label mt-3"
                                               th:text="#{registration.firstName}"></label>
                                        <input
                                                required
                                                type="text" name="firstName"
                                                class="form-control"
                                                th:placeholder="#{registration.firstNameEnter}"
                                                th:value="${currentUser.getFirstName()}"/>
                                    </div>
                                    <div class="col-12 ">
                                        <label class="form-label mt-3"
                                               th:text="#{registration.lastName}"></label>
                                        <input
                                                required
                                                type="text" name="lastName"
                                                class="form-control"
                                                th:placeholder="#{registration.lastNameEnter}"
                                                th:value="${currentUser.getLastName()}"/>
                                    </div>
                                    <div class="col-12 ">
                                        <label class="form-label mt-3">Email</label>
                                        <input
                                                required
                                                type="text" name="email"
                                                class="form-control"
                                                th:placeholder="#{email.placeholder}"
                                                th:value="${currentUser.getEmail()}"/>
                                    </div>
                                    <div class="col-12 ">
                                        <label class="form-label mt-3" th:text="#{login.password}"></label>
                                        <input
                                                type="text" name="password"
                                                class="form-control"
                                                th:placeholder="#{registration.newPassword}"
                                        />
                                    </div>
                                </div>
                                <div class="col-12 text-end mt-4">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal"
                                            th:text="#{actions.cancel}">
                                    </button>
                                    <a class="btn-danger"
                                       th:href="'profile/delete/'+${currentUser.getId()}"
                                       th:text="#{actions.delete}"
                                    ></a>
                                    <button type="submit" class="btn btn-primary ml-2"
                                            th:text="#{actions.save}">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33 bg-light">

            <div th:if="${param.error}">
                <p onload="showToast('Working...')"></p>
                <div class="alert-error mb-5">
                                    <span class="closebtn"
                                          onclick="this.parentElement.style.display='none';">&times;</span>
                    Something went wrong!
                </div>
            </div>

            <form class=" login100-form validate-form flex-sb flex-w"
                  id="formElem" th:object="${collection}">

                <div class="p-t-31 p-b-9">
						<span class="txt1">
							Name
						</span>

                </div>
                <div class="wrap-input100">
                    <input
                            id="name"
                            required
                            class="input100"
                            type="text"
                            name="name"
                            th:field="*{name}"
                            placeholder="Enter name of the collection here">
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-13 p-b-9">
						<span class="txt1">
							Description
						</span>
                    <p class="description__error"
                       th:each="error : ${#fields.errors('description')}" th:text="${error}"></p>
                </div>
                <div class="wrap-input100">
                    <textarea
                            id="description"
                            required
                            class="inputTextArea"
                            name="description"
                            th:field="*{description}"
                            placeholder="Enter description of the collection here"></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-31 p-b-9">
						<span class="txt1">
							Topic
						</span>
                    <p class="description__error"
                       th:each="error : ${#fields.errors('topicId')}" th:text="${error}"></p>
                </div>
                <div class="wrap-input100">
                    <select
                            class="select"
                            id="topicId"
                            name="topicId"
                            th:field="*{topicId}"
                    >
                        <option th:each="topic : ${topics}" th:value="${topic.id}" th:text="${topic.name}"></option>
                    </select>
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-31 p-b-9">
                						<span class="txt1">
                							Image
                						</span>
                    <p class="description__error"
                       th:each="error : ${#fields.errors('image')}" th:text="${error}"></p>
                </div>
                <div class="p-t-31 p-b-9">
                    <p class="errorMassage upload__btn">You can only upload images</p>
                </div>
                <div class="wrap-input100">
                    <input
                            id="image"
                            class="inputFile"
                            type="file"
                            name="image"
                            accept=".jpeg"
                            th:field="*{image}"
                            placeholder="Upload an image of the collection">
                    <span class="focus-input100"></span>
                </div>

                <div class="p-t-31 p-b-9" id="fields">
						<span class="txt1">
							Custom Fields
						</span>
                    <button class="file-form__btn ml-2">Add a field</button>
                </div>
                <div class="file-form">
                    <ul id="fieldItems" class="file-form__list">
                    </ul>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button type="submit" id="buttonSave" class="login100-form-btn">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
    <div class="container-fluid tm-container-small">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title" th:text="#{about-app}"></h3>
                <p th:text="#{about-text}"></p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <ul class="tm-social-links d-flex justify-content-end pl-0 mb-5">
                    <li class="mb-2"><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                    <li class="mb-2"><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li class="mb-2"><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li class="mb-2"><a href="https://pinterest.com"><i class="fab fa-pinterest"></i></a></li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-12 px-5 mb-3" th:text="#{app.rights}">
            </div>
            <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                Designed by <a href="https://t.me/abdisattorovaS" class="tm-text-gray" rel="sponsored"
                               target="_parent">Sevinch Abdisattarova</a>
            </div>
        </div>
    </div>
</footer>

<script src="/js/plugins.js"></script>
<script src="/js/bootstrap.min.js"></script><script>
    $(window).on("load", function () {
        $('body').addClass('loaded');
    });

    formElem.onsubmit = async (e) => {
        $(window).on("load", function () {
            $('body').addClass('loaded');
        });

        e.preventDefault();
        const listItems = document.getElementsByClassName("form-list__item");
        const customFields = [];
        console.log(listItems.length);
        for (let i = 0; i < listItems.length; i++) {
            customFields.push({
                fieldDataType: listItems[i].childNodes[0].value,
                fieldName: listItems[i].childNodes[1].value
            })
        }
        const name = document.getElementById('name').value;
        const description = document.getElementById('description').value;
        const topicId = document.getElementById('topicId').value;
        const body = {name, description, topicId, customFields}
        const errorMassage = document.querySelector(".errorMassage")
        console.log(body);

        let formData = new FormData();
        // formData.append('model', JSON.stringify(body)) //sending string as requestPart
        formData.append('collection',
            // JSON.stringify(body))
            new Blob([JSON.stringify(body)], {
                type: "application/json"
            }));
        var input = document.querySelector('input[type="file"]')
        // if (input.files[0].type != "image/jpeg" ||
        //     input.files[0].type != "image/jpg" ||
        //     input.files[0].type != "image/png") {
        //     errorMassage.style.display = "block"
        // } else {
        errorMassage.style.display = "none"
        formData.append('image', input.files[0])

        for (let [name, value] of formData) {
            console.log(`${name} = ${value}`);
        }

        let response = await fetch('/collection', {
            method: 'POST',
            body: formData,
            redirect: 'follow'
        }).then(response => {
            $(window).on("load", function () {
                $('body').removeClass('loaded');
            });

            console.log(response);
            location.href = response.url;

        }).catch(reason => console.log(reason));
        // }
    }

</script>

<!--===============================================================================================-->
<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/bootstrap/js/popper.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/vendor/daterangepicker/moment.min.js"></script>
<script src="/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/js/script.js"></script>
<script src="/js/toastify.js"></script>
<script src="/js/darkmode.js"></script>
</body>
</html>