<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Admin</title>
    <link rel="stylesheet" href="/vendor/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendor/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/my-style.css">

    <!--  Dark/night mode  -->
    <link rel="stylesheet" href="/css/darkmode.css">
    <script src="/dark-mode-switch.min.js"></script>

</head>

<body>

<div class="container-scroller">
    <!-- partial:/partials/_navbar.html -->
   <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" th:text="#{app.name}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link nav-link-1 active" aria-current="page" href="/" th:text="#{app.collections}"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-2 " href="/collection/collections" th:text="#{collections}"></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-link-3" href="/item/all" th:text="#{items}"></a>
                </li>

                <li class="option__select">
                    <select class="select__lang" id="locales">
                        <option value="" th:text="#{lang.change}"></option>
                        <option value="en" th:text="#{lang.eng}"></option>
                        <option value="uz" th:text="#{lang.uz}"></option>
                    </select>
                </li>

                <div class="form-check form-switch ml-5 mt-1">
                    <input type="checkbox" class="form-check-input" id="darkSwitch">
                </div>

                <li class="nav-item mr-2" th:if="${currentUser==null}">
                    <a class="nav-link nav-link-2" href="/login" th:text="#{app.login}"></a>
                </li>

                <li class="position-relative mt-1 mr-2" th:unless="${currentUser==null}">
                    <div class="dropdown">
                        <button class="dropbtn profile" th:text="${currentUser.getFirstName().charAt(0)}"></button>
                        <div class="dropdown-content bg-light">
                            <a class="color-white"
                               data-bs-toggle="modal"
                               th:attr="data-bs-target='#myProfile'+${currentUser.getId()}"
                               th:text="#{my-profile}"
                            ></a>
                            <a class="color-white" href="/admin/users"
                               th:if="${ currentUser.getRole().getRoleEnum().name()=='ADMIN'}"
                               th:text="#{dashboard.dashboard}"></a>
                            <a class="color-white" href="/collection" th:text="#{collection.add}"></a>
                            <a class="color-white" href="/collection/my-collections" th:text="#{collections.my}"></a>
                            <a class="color-white" href="/logout" th:text="#{app.logout}"></a>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="modal fade" th:if="${currentUser!=null}" th:id="'myProfile'+${currentUser.getId()}"
                 tabindex="-1"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                    <div class="modal-content p-3 p-md-5">
                        <div class="modal-body">
                            <div class="d-flex justify-content-between mb-4">
                                <h3 class="edit-title" th:text="#{my-profile}"></h3>
                                <button type="button" class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close">
                                </button>
                            </div>
                            <form id="userForm" class="row g-3" method="post"
                                  th:action="@{/profile}">
                                <div class="row">
                                    <input hidden name="id" th:value="${currentUser.getId()}">
                                    <div class="col-12 ">
                                        <label class="form-label mt-3"
                                               th:text="#{registration.firstName}"></label>
                                        <input
                                                required
                                                type="text" name="firstName"
                                                class="form-control"
                                                th:placeholder="#{registration.firstNameEnter}"
                                                th:value="${currentUser.getFirstName()}"/>
                                    </div>
                                    <div class="col-12 ">
                                        <label class="form-label mt-3"
                                               th:text="#{registration.lastName}"></label>
                                        <input
                                                required
                                                type="text" name="lastName"
                                                class="form-control"
                                                th:placeholder="#{registration.lastNameEnter}"
                                                th:value="${currentUser.getLastName()}"/>
                                    </div>
                                    <div class="col-12 ">
                                        <label class="form-label mt-3">Email</label>
                                        <input
                                                required
                                                type="text" name="email"
                                                class="form-control"
                                                th:placeholder="#{email.placeholder}"
                                                th:value="${currentUser.getEmail()}"/>
                                    </div>
                                    <div class="col-12 ">
                                        <label class="form-label mt-3" th:text="#{login.password}"></label>
                                        <input
                                                type="text" name="password"
                                                class="form-control"
                                                th:placeholder="#{registration.newPassword}"
                                        />
                                    </div>
                                </div>
                                <div class="col-12 text-end mt-4">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal"
                                            th:text="#{actions.cancel}">
                                    </button>
                                    <a class="btn-danger"
                                       th:href="'profile/delete/'+${currentUser.getId()}"
                                       th:text="#{actions.delete}"
                                    ></a>
                                    <button type="submit" class="btn btn-primary ml-2"
                                            th:text="#{actions.save}">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:/partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">
                        <i class="ti-view-list-alt menu-icon"></i>
                        <span class="menu-title" th:text="#{dashboard.users}"></span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/tag">
                        <i class="ti-tag"></i>
                        <span class="menu-title" th:text="#{dashboard.tags}"></span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/topic">
                        <i class="ti-view-list-alt menu-icon"></i>
                        <span class="menu-title" th:text="#{dashboard.topics}"></span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body bg-light">

                                <div class="row">
                                    <div class="col-md-6 grid-margin stretch-card">
                                        <div class="card">
                                            <div class="card-body">
                                                <p class="card-title">Sales details</p>
                                                <p class="text-muted font-weight-light">Received overcame oh sensible so at an. Formed
                                                    do change merely to county it. Am separate contempt domestic to to oh. On relation
                                                    my so addition branched.</p>
                                                <div id="sales-legend" class="chartjs-legend mt-4 mb-2"></div>
                                                <canvas id="sales-chart"></canvas>
                                            </div>
                                            <div class="card border-right-0 border-left-0 border-bottom-0">
                                                <div class="d-flex justify-content-center justify-content-md-end">
                                                    <div class="dropdown flex-md-grow-1 flex-xl-grow-0">
                                                        <button class="btn btn-lg btn-outline-light dropdown-toggle rounded-0 border-top-0 border-bottom-0"
                                                                type="button" id="dropdownMenuDate2" data-bs-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="true">
                                                            Today
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right"
                                                             aria-labelledby="dropdownMenuDate2">
                                                            <a class="dropdown-item" href="#">January - March</a>
                                                            <a class="dropdown-item" href="#">March - June</a>
                                                            <a class="dropdown-item" href="#">June - August</a>
                                                            <a class="dropdown-item" href="#">August - November</a>
                                                        </div>
                                                    </div>
                                                    <button class="btn btn-lg btn-outline-light text-primary rounded-0 border-0 d-none d-md-block"
                                                            type="button"> View all
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 grid-margin stretch-card">
                                        <div class="card border-bottom-0">
                                            <div class="card-body pb-0">
                                                <p class="card-title">Purchases</p>
                                                <p class="text-muted font-weight-light">The argument in favor of using filler text goes
                                                    something like this: If you use real content in the design process, anytime you
                                                    reach a review</p>
                                                <div class="d-flex flex-wrap mb-5">
                                                    <div class="me-5 mt-3">
                                                        <p class="text-muted">Status</p>
                                                        <h3>362</h3>
                                                    </div>
                                                    <div class="me-5 mt-3">
                                                        <p class="text-muted">New users</p>
                                                        <h3>187</h3>
                                                    </div>
                                                    <div class="me-5 mt-3">
                                                        <p class="text-muted">Chats</p>
                                                        <h3>524</h3>
                                                    </div>
                                                    <div class="mt-3">
                                                        <p class="text-muted">Feedbacks</p>
                                                        <h3>509</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <canvas id="order-chart" class="w-100"></canvas>
                                        </div>
                                    </div>
                                </div>


                            </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                </div>

            </footer>
        </div>
    </div>

    <script src="/js/darkmode.js"></script>
    <script src="/vendor/base/vendor.bundle.base.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/vendor/chart.js/Chart.min.js"></script>
    <script src="/js/dashboard.js"></script>
    <script src="/vendor/base/vendor.bundle.base.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>
