<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Admin</title>
    <link rel="stylesheet" href="/vendor/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendor/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/css/my-style.css">
    <link rel="stylesheet" href="/css/templatemo-style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
    </script>

    <!--  Dark/night mode  -->
    <link rel="stylesheet" href="/css/darkmode.css">
    <script src="/dark-mode-switch.min.js"></script>

</head>

<body>

<div class="container-scroller">
    <!-- partial:/partials/_navbar.html -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#" th:text="#{app.name}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link nav-link-1 " aria-current="page" href="/" th:text="#{app.collections}"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-link-2 " href="/collection/collections" th:text="#{collections}"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-link-3" href="/item/all" th:text="#{items}"></a>
                    </li>

                    <li class="option__select">
                        <select class="select__lang" id="locales">
                            <option value="" th:text="#{lang.change}"></option>
                            <option value="en" th:text="#{lang.eng}"></option>
                            <option value="uz" th:text="#{lang.uz}"></option>
                        </select>
                    </li>

                    <div class="form-check form-switch ml-5 mt-1">
                        <input type="checkbox" class="form-check-input" id="darkSwitch">
                    </div>

                    <li class="nav-item mr-2" th:if="${currentUser==null}">
                        <a class="nav-link nav-link-2" href="/login" th:text="#{app.login}"></a>
                    </li>

                    <li class="position-relative mt-1 mr-2" th:unless="${currentUser==null}">
                        <div class="dropdown">
                            <button class="dropbtn profile" th:text="${currentUser.getFirstName().charAt(0)}"></button>
                            <div class="dropdown-content bg-light">
                                <a class="color-white"
                                   data-bs-toggle="modal"
                                   th:attr="data-bs-target='#myProfile'+${currentUser.getId()}"
                                   th:text="#{my-profile}"
                                ></a>
                                <a class="color-white" href="/admin/users"
                                   th:if="${ currentUser.getRole().getRoleEnum().name()=='ADMIN'}"
                                   th:text="#{dashboard.dashboard}"></a>
                                <a class="color-white" href="/collection" th:text="#{collection.add}"></a>
                                <a class="color-white" href="/collection/my-collections" th:text="#{collections.my}"></a>
                                <a class="color-white" href="/logout" th:text="#{app.logout}"></a>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="modal fade" th:if="${currentUser!=null}" th:id="'myProfile'+${currentUser.getId()}"
                     tabindex="-1"
                     aria-hidden="true">
                    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                        <div class="modal-content p-3 p-md-5">
                            <div class="modal-body">
                                <div class="d-flex justify-content-between mb-4">
                                    <h3 class="edit-title" th:text="#{my-profile}"></h3>
                                    <button type="button" class="btn-close"
                                            data-bs-dismiss="modal"
                                            aria-label="Close">
                                    </button>
                                </div>
                                <form id="userForm" class="row g-3" method="post"
                                      th:action="@{/profile}">
                                    <div class="row">
                                        <input hidden name="id" th:value="${currentUser.getId()}">
                                        <div class="col-12 ">
                                            <label class="form-label mt-3"
                                                   th:text="#{registration.firstName}"></label>
                                            <input
                                                    required
                                                    type="text" name="firstName"
                                                    class="form-control"
                                                    th:placeholder="#{registration.firstNameEnter}"
                                                    th:value="${currentUser.getFirstName()}"/>
                                        </div>
                                        <div class="col-12 ">
                                            <label class="form-label mt-3"
                                                   th:text="#{registration.lastName}"></label>
                                            <input
                                                    required
                                                    type="text" name="lastName"
                                                    class="form-control"
                                                    th:placeholder="#{registration.lastNameEnter}"
                                                    th:value="${currentUser.getLastName()}"/>
                                        </div>
                                        <div class="col-12 ">
                                            <label class="form-label mt-3">Email</label>
                                            <input
                                                    required
                                                    type="text" name="email"
                                                    class="form-control"
                                                    th:placeholder="#{email.placeholder}"
                                                    th:value="${currentUser.getEmail()}"/>
                                        </div>
                                        <div class="col-12 ">
                                            <label class="form-label mt-3" th:text="#{login.password}"></label>
                                            <input
                                                    type="text" name="password"
                                                    class="form-control"
                                                    th:placeholder="#{registration.newPassword}"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12 text-end mt-4">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal"
                                                th:text="#{actions.cancel}">
                                        </button>
                                        <a class="btn-danger"
                                           th:href="'profile/delete/'+${currentUser.getId()}"
                                           th:text="#{actions.delete}"
                                        ></a>
                                        <button type="submit" class="btn btn-primary ml-2"
                                                th:text="#{actions.save}">
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:/partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">

                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">
                        <i class="ti-view-list-alt menu-icon"></i>
                        <span class="menu-title" th:text="#{dashboard.users}"></span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/tag">
                        <i class="ti-view-list-alt menu-icon"></i>
                        <span class="menu-title" th:text="#{dashboard.tags}"></span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/topic">
                        <i class="ti-view-list-alt menu-icon"></i>
                        <span class="menu-title" th:text="#{dashboard.topics}"></span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card bg-light p-3">
                            <div class="card-body bg-light">

                                <div th:if="${success}">
                                    <div class="alert-success mb-2">
                                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                        <p th:text="${message}"></p>
                                    </div>
                                </div>

                                <div th:if="${success==false}">
                                    <div class="alert-error mb-2">
                                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                        <p th:text="${message}"></p>
                                    </div>
                                </div>
                                <div th:if="${empty}">
                                    <div class="alert-error mb-2">
                                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                        Topic can't be empty!
                                    </div>
                                </div>
                            </div>

                            <div class="tag__items">
                                <h5 class="card-title mt-2" th:text="#{topic}"></h5>
                                <button class="add__tag btn btn-primary"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal"
                                        data-bs-whatever=""
                                        th:text="#{topic.add}"
                                >
                                </button>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel" th:text="#{topic.new}"></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form th:action="@{/topic}" method="post">

                                                <input type="text" name="currentPage" value="2" hidden>
                                                <div class="mb-3">
                                                    <label style="color: black" for="name" class="col-form-label" th:text="#{topic}"></label>
                                                    <input type="text" class="form-control" id="name"
                                                           th:placeholder="#{topic.placeholder}" name="name">
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn__edit btn btn-secondary"
                                                            data-bs-dismiss="modal" th:text="#{actions.cancel}">
                                                    </button>
                                                    <button type="submit" class="btn__edit   btn btn-primary"
                                                            th:text="#{actions.save}">
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th th:text="#{topic}">
                                        </th>
                                        <th th:text="#{topic.archived}">
                                        </th>
                                        <th class="text-center" width="300px" th:text="#{actions}">
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="tbody">
                                    <tr th:each="topic : ${topics}">
                                        <td th:text="${topic.name}">
                                        </td>
                                        <td th:if="${topic.isDeleted}">✔</td>
                                        <td th:unless="${topic.isDeleted}">❌</td>
                                        <td class="d-flex">
                                            <button type="button"
                                                    data-bs-toggle="modal"
                                                    th:attr="data-bs-target='#editTopic'+${topic.id}">
                                                <i class="far fa-pen dashboard__edit mt-1"></i>
                                            </button>
                                            <button type="button"
                                                    data-bs-toggle="modal"
                                                    th:attr="data-bs-target='#deleteTopic'+${topic.id}">
                                                <i class="far fa-trash-alt dashboard__delete ml-2 mr-2 mt-1"></i>
                                            </button>

                                            <button th:if="${topic.isDeleted}" type="button" class="btn__edit btn btn-primary"
                                                    data-bs-toggle="modal"
                                                    th:attr="data-bs-target='#restoreTopic'+${topic.id}"
                                                    th:text="#{actions.restore}">
                                            </button>

                                            <button th:unless="${topic.isDeleted}" type="button" class="btn__edit btn btn-danger"
                                                    data-bs-toggle="modal"
                                                    th:attr="data-bs-target='#archiveTopic'+${topic.id}"
                                                    th:text="#{actions.archive}">
                                            </button>

                                        </td>

                                        <!-- EDIT MODAL -->
                                        <div class="modal fade" th:id="'editTopic'+${topic.id}" tabindex="-1"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                                                <div class="modal-content p-3 p-md-5">
                                                    <div class="modal-body">
                                                        <div class="d-flex justify-content-between mb-4">
                                                            <h3 class="edit-title" th:text="#{topic.edit}"></h3>
                                                            <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"
                                                                    aria-label="Close">
                                                            </button>
                                                        </div>
                                                        <form id="userForm" class="row g-3" method="post"
                                                              th:action="@{/topic}">
                                                            <input hidden th:value="${topic.id}" name="id">
                                                            <input hidden th:value="${currentPage}" name="currentPage">
                                                            <div class="row">
                                                                <div class="col-12 ">
                                                                    <label style="color: black" class="form-label mt-3"
                                                                           th:text="#{topic}"></label>
                                                                    <input
                                                                            required
                                                                            type="text" name="name"
                                                                            class="form-control"
                                                                            th:placeholder="#{topic.placeholder}"
                                                                            th:value="${topic.name}"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 text-end mt-4">
                                                                <button type="button" class="btn__edit btn btn-secondary"
                                                                        data-bs-dismiss="modal"
                                                                        th:text="#{actions.cancel}">
                                                                </button>
                                                                <button type="submit" class="btn__edit btn btn-primary ml-2"
                                                                        th:text="#{actions.save}">
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END EDIT MODAL -->

                                        <!-- DELETE MODAL -->
                                        <div class="modal fade" th:id="'deleteTopic'+${topic.id}" tabindex="-1"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                                                <div class="modal-content p-3 p-md-5">
                                                    <div class="modal-body">
                                                        <form th:action="@{/topic/delete}" th:method="post">
                                                            <input hidden th:value="${topic.id}" name="id">
                                                            <input hidden th:value="${currentPage}" name="page">
                                                            <div class="row">
                                                                <div class="col-12 ">
                                                                    <h5 class="btn__delete" th:text="'Are you sure to delete '+${topic.name}+' ?'"></h5>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 text-end mt-4">
                                                                <button type="button" class="btn__edit btn btn-secondary"
                                                                        data-bs-dismiss="modal"
                                                                        th:text="#{actions.cancel}">
                                                                </button>
                                                                <button type="submit" class="btn__edit btn btn-primary ml-2"
                                                                        th:text="#{actions.delete}">
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END DELETE MODAL -->

                                        <!-- ARCHIVE MODAL -->
                                        <div class="modal fade" th:id="'archiveTopic'+${topic.id}" tabindex="-1"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                                                <div class="modal-content p-3 p-md-5">
                                                    <div class="modal-body">
                                                        <form th:action="@{/topic/archive}" th:method="post">
                                                            <input hidden th:value="${topic.id}" name="id">
                                                            <input hidden th:value="${currentPage}" name="page">
                                                            <div class="row">
                                                                <div class="col-12 ">
                                                                    <h5 class="btn__delete" th:text="'Are you sure to archive '+${topic.name}+' ?'"></h5>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 text-end mt-4">
                                                                <button type="button" class="btn__edit btn btn-secondary"
                                                                        data-bs-dismiss="modal"
                                                                        th:text="#{actions.cancel}">
                                                                </button>
                                                                <button type="submit" class="btn__edit btn btn-primary ml-2"
                                                                        th:text="#{actions.archive}">
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END ARCHIVE MODAL -->

                                        <!-- ARCHIVE MODAL -->
                                        <div class="modal fade" th:id="'restoreTopic'+${topic.id}" tabindex="-1"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                                                <div class="modal-content p-3 p-md-5">
                                                    <div class="modal-body">
                                                        <form th:action="@{/topic/restore}" th:method="post">
                                                            <input hidden th:value="${topic.id}" name="id">
                                                            <input hidden th:value="${currentPage}" name="page">
                                                            <div class="row">
                                                                <div class="col-12 ">
                                                                    <h5 class="btn__delete" th:text="'Are you sure to restore '+${topic.name}+' ?'"></h5>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 text-end mt-4">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-bs-dismiss="modal"
                                                                        th:text="#{actions.cancel}">
                                                                </button>
                                                                <button type="submit" class="btn btn-primary ml-2"
                                                                        th:text="#{actions.restore}">
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END ARCHIVE MODAL -->

                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="pagination__container bg-light">
                                <div class="pagination d-flex align-items-center">

                                    <a
                                            class="btn btn-primary"
                                            th:classappend="${currentPage} eq 1 ?    'disabled' : '' "
                                            id="firstPage"
                                            th:href="'/topic?page=1'" th:text="'❮❮ '+#{pagination.first}"></a>
                                    <a
                                            class="btn btn-primary"
                                            th:classappend="${currentPage} eq 1 ?    'disabled' : '' "
                                            id="prev"
                                            th:href="'/topic?page='+(${currentPage}-1)">❮</a>

                                    <span th:text="${currentPage}+' '+ #{pagination.of}+' ' + ${pages} "></span>

                                    <a
                                            class="btn btn-primary"
                                            th:classappend="${currentPage} eq ${pages} ? 'disabled' : '' "
                                            id="next"
                                            th:href="'/topic?page='+(${currentPage}+1)">❯</a>
                                    <a
                                            class="btn btn-primary"
                                            th:classappend="${currentPage} eq ${pages} ? 'disabled' : '' "
                                            id="lastPage"
                                            th:href="'/topic?page='+(${pages})" th:text="#{pagination.last}+' ❯❯'"></a>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
            </div>

        </footer>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != '') {
                window.location.replace('/topic?lang=' + selectedOption);
            }
        });
    });
</script>
<script src="/js/darkmode.js"></script>
<script src="/vendor/base/vendor.bundle.base.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/vendor/base/vendor.bundle.base.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>
