<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> Admin</title>
    <link rel="stylesheet" href="/vendor/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/vendor/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/fontawesome/css/all.min.css">
    <!--  Dark/night mode  -->
    <link rel="stylesheet" href="/css/darkmode.css">
    <script src="/dark-mode-switch.min.js"></script>

    <style>
        CSS
        body {
            position: relative;
        }

        .form__change, .form__change-tables {
            width: 500px;
            height: 500px;
            position: fixed;
            top: 50%;
            left: 50%;
            z-index: 200;
            transform: translate(-50%, -50%);
        }

        .hidden, .hidden__bg {
            display: none;
        }

        .modals {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 70%;

            background-color: white;
            padding: 6rem;
            border-radius: 5px;
            box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
            z-index: 10;
        }

        .overlay {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.6);
            backdrop-filter: blur(3px);
            z-index: 50;
        }

        /*  Pagination-styles  */
        .pagination__container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .pagination__container p {
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
        }

        .pagination {
            display: inline-block;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            border: 1px solid #ddd;
            border-radius: 50%;
            margin: 0 5px;
        }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination span {
            margin: 0 10px;
            font-size: 15px;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
    </style>
</head>

<body>

<div class="container-scroller">
    <!-- partial:/partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo me-5" href="dashboard.html">
                <img src="images/logo.svg"
                     class="me-2" alt="logo"/></a>
            <a class="navbar-brand brand-logo-mini" href="dashboard.html">
                <img src="/images/logo-mini.svg" alt="logo"/></a>
        </div>

        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                <span class="ti-view-list"></span>
            </button>
            <ul class="navbar-nav mr-lg-2">
                <li class="nav-item nav-search d-none d-lg-block">
                    <div class="input-group">
                        <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="ti-search"></i>
                </span>
                        </div>
                        <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now"
                               aria-label="search" aria-describedby="search">
                    </div>
                </li>
            </ul>

            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <div class="form-check form-switch">
                        <input type="checkbox" class="form-check-input mr-1" id="darkSwitch">
                        <label class="custom-control-label" for="darkSwitch">Dark Mode</label>
                    </div>
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" id="profileDropdown">
                        <img src='/static/images/faces/face28.jpg' alt="profile"/>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                        <a class="dropdown-item">
                            <i class="ti-settings text-primary"></i>
                            Settings
                        </a>
                        <a class="dropdown-item">
                            <i class="ti-power-off text-primary"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                <span class="ti-view-list"></span>
            </button>
        </div>
    </nav>

    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:/partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="dashboard.html">
                        <i class="ti-shield menu-icon"></i>
                        <span class="menu-title" th:text="#{dashboard.dashboard}"></span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">
                        <i class="ti-view-list-alt menu-icon"></i>
                        <span class="menu-title" th:text="#{dashboard.users}"></span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/tag">
                        <i class="ti-tag"></i>
                        <span class="menu-title" th:text="#{dashboard.tags}"></span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/topic">
                        <i class="ti-view-list-alt menu-icon"></i>
                        <span class="menu-title" th:text="#{dashboard.topics}"></span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body bg-light">

                                <div th:if="${success}">
                                    <div class="alert-success mb-2" style="background-color: limegreen">
                                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                        <p th:text="${message}"></p>
                                    </div>
                                </div>

                                <div th:if="${success==false}">
                                    <div class="alert-error mb-2" style="background-color: red">
                                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                        <p th:text="${message}"></p>
                                    </div>
                                </div>
                                <div th:if="${param.empty}">
                                    <div class="alert-error mb-2" style="background-color: red">
                                        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                                        Topic can't be empty!
                                    </div>
                                </div>
                            </div>


                            <!-- Modal -->
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th th:text="#{registration.firstName}">
                                        </th>
                                        <th th:text="#{registration.lastName}">
                                        </th>
                                        <th>Email</th>
                                        <th class="text-center" width="300px" th:text="#{actions}">
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody class="tbody">
                                    <tr th:each="user : ${users}">
                                        <td th:text="${user.firstName}">
                                        </td>
                                        <td th:text="${user.lastName}"></td>
                                        <td th:text="${user.email}"></td>
                                        <td>
                                            <a th:href="@{'/admin/users/delete/'+${user.id}+'/currentPage/'+${currentPage}}">
                                                <button type="button" class="btn btn-danger"
                                                ><i class="ti-trash"></i>
                                                </button>
                                            </a>
                                            <a th:if="${user.isBlocked}"
                                               th:href="@{'/admin/users/unblock/'+${user.id}+'/currentPage/'+${currentPage}}">
                                                <button type="button" class="btn btn-warning">
                                                    <i class="ti-lock"></i>
                                                </button>
                                            </a>
                                            <a th:unless="${user.isBlocked}"
                                               th:href="@{'/admin/users/block/'+${user.id}+'/currentPage/'+${currentPage}}">
                                                <button type="button" class="btn btn-danger">
                                                    <i class="ti-unlock"></i>
                                                </button>
                                            </a>

                                            <a th:if="${user.role.roleEnum.name()=='USER'}"
                                               th:href="@{'/admin/users/promoteToAdmin/'+${user.id}+'/currentPage/'+${currentPage}}">
                                                <button type="button" class="btn btn-primary"
                                                        th:text="#{users.promoteToAdmin}">
                                                </button>
                                            </a>
                                            <a th:if="${user.role.roleEnum.name()=='ADMIN'}"
                                               th:href="@{'/admin/users/removeFromAdmin/'+${user.id}+'/currentPage/'+${currentPage}}">
                                                <button type="button" class="btn btn-warning"
                                                        th:text="#{users.removeFromAdmin}">
                                                </button>
                                            </a>

                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="pagination__container bg-light">
                                <div class="pagination d-flex align-items-center">
                                    <a
                                            class="btn btn-primary"
                                            th:classappend="${currentPage} eq 1 ?    'disabled' : '' "
                                            id="firstPage"
                                            th:href="'/admin/users?page=1'" th:text="'❮❮ '+#{pagination.first}"></a>
                                    <a
                                            class="btn btn-primary"
                                            th:classappend="${currentPage} eq 1 ?    'disabled' : '' "
                                            id="prev"
                                            th:href="'/admin/users?page='+(${currentPage}-1)">❮</a>

                                    <span th:text="${currentPage}+' '+ #{pagination.of}+' ' + ${pages} "></span>

                                    <a
                                            class="btn btn-primary"
                                            th:classappend="${currentPage} eq ${pages} ? 'disabled' : '' "
                                            id="next"
                                            th:href="'/admin/users?page='+(${currentPage}+1)">❯</a>
                                    <a
                                            class="btn btn-primary"
                                            th:classappend="${currentPage} eq ${pages} ? 'disabled' : '' "
                                            id="lastPage"
                                            th:href="'/admin/users?page='+(${pages})"
                                            th:text="#{pagination.last}+' ❯❯'"></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
            </div>

        </footer>
    </div>
</div>

<script src="/js/darkmode.js"></script>
<script src="/vendor/base/vendor.bundle.base.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/vendor/chart.js/Chart.min.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/vendor/base/vendor.bundle.base.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>

</html>
